[submodule "TerminalCommon"]
	path = TerminalCommon
	url = http://106.12.21.229:4040/converged/TerminalCommon.git
[submodule "common"]
	path = common
	url = http://106.12.21.229:4040/converged/common.git
[submodule "ProtoBuf"]
	path = ProtoBuf
	url = http://106.12.21.229:4040/converged/ProtoBuf.git
[submodule "DDPush"]
	path = DDPush
	url = http://106.12.21.229:4040/converged/DDPush.git
