<?xml version="1.0" encoding="utf-8"?>
<manifest package="cn.vsx.uav"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="33"
    android:versionName="1.0.33">
    <!--<uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />-->
    <application
        android:name=".UavApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true"
        android:theme="@style/AppTheme"
        tools:replace="label, theme">
        <activity
            android:name=".activity.UavPushActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <!-- DJI SDK -->
        <uses-library android:name="com.android.future.usb.accessory" />
        <activity
            android:name="dji.sdk.sdkmanager.DJIAoaControllerActivity"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
        </activity>
        <service android:name="dji.sdk.sdkmanager.DJIGlobalService" /> <!-- DJI SDK -->
        <!--
           ADD API_KEY HERE and make sure you
           are connected to the Internet before
           the app is launched
        -->
        <meta-data
            android:name="com.dji.sdk.API_KEY"
            android:value="1f4a8fc5a05133cfbb0a0437" />
        
        <service
            android:name=".service.AircraftPushService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.UavReceiveHandlerService"
            android:enabled="true"
            android:exported="false" />
        
        <activity
            android:name=".activity.UavMainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.UavFileListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation = "sensorLandscape"/>
        
        <service
            android:name=".service.PushService"
            android:enabled="true"
            android:exported="false" />
    
        <service
            android:name=".service.UavReceiveLiveCommingService"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>